<div class="author-block-wrapper">
    <div class="author-wrapper">

        
        <div class="author-logo">

        </div>

        <div class="author-field">
            <b>
                <%= author.nickname %>
            </b>
        </div>

        <div class="news-date">
            22 марта 2023
        </div>

    </div>
</div>