<div class="main-image-container">
    <% console.log(`http://localhost:4000 + ${content.path}/${content.name}`)  %>
    <img src = <%=`http://localhost:4000${content.path}/${content.name}` %> class="content-unit" alt ="туть"></div>