<div class="news-block" >
    <div class="news-block-container">
        <div class="news-title">Заголовок новости может иметь быть на нескольких
            строчках</div>
        <div class="news-description">Lorem ipsum dolor sit amet consectetur
            adipisicing </div>
        <div class="news-author">Автор статьи: </div>
    </div>
</div>