<div class="news-block" news_id = <%= news.news_id %>>
    <div class="news-block-container">
        <div class="news-author">Автор статьи:  <%- news.page.user.nickname %></div>
        <div class="news-title"> <%- news.title %></div>
        <div class="news-description"> <%- news.subtitle %></div>
        <div class="news-main-image-container">
            <img src="" alt="" onerror='this.style.display = "none"'>
        </div>
    </div>
</div>