<footer class="footer">
    <div class="footer-link">
        <li><a href="#">О проекте</a></li>
        <li><a href="#">О создателях</a></li>
        <li><a href="#">Реклама на сайте</a></li>
        <li><a href="#">Обратная связь</a></li>
    </div>

    <div class="footer-logo">
        <div class="main-footer-logo">
            <div class="footer-svg">
                <img src="./image/vector/footer.svg" alt="">
            </div>
            <div class="main-footer-text">© 2022–2022 Turbo.ru</div>
        </div>
        <div class="adding-footer-text">
            Использование любых материалов сайта
            без согласования с администрацией запрещено
        </div>
    </div>
</footer>