<header class='header-site'>
    <div class="logo-container">
        <div class="menu-logo">
            <img class="vector-img" src="/image/vector/menu.svg" alt="говно">
            <div class="logo-text" onclick="location.href = '/'"> Turbo</div>
        </div>
    </div>

    <nav class="nav-header">
        <button class="create-article-button header-button" onclick="window.location.href='/redactor'">Создать</button>
        <div class="avatar-icon-wrapper">
            <div class="avatar-icon"></div>
        </div>
        
        <button class="entry-button header-button" onclick="location.href = '/login'">Войти</button>
    </nav>
</header>