<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo</title>

    <!-- шрифт -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@100&display=swap"
        rel="stylesheet">

    <!-- стиль -->
    <link rel="stylesheet" href="/views/css/header.css">
    <link rel="stylesheet" href="/views/css/index.css">
    <link rel="stylesheet" href="/views/css/main-information.css">
    <link rel="stylesheet" href="/views/css/footer.css">
    <link rel="stylesheet" href="/views/css/menu-bar.css">
    <link rel="stylesheet" href="/views/css/slider.css">
</head>

<body>
    <header class='header-site'>
        <div class="logo-container">
            <div class="menu-logo">
                <img class="vector-img" src="/views/image/vector/menu.svg" alt="говно">
                <div class="logo-text">Turbo</div>
            </div>
        </div>

        <nav class="nav-header">
            <button class="entry-button">Войти</button>
        </nav>
    </header>

    <div class="menu-bar">

    </div>
    <!-- <div class="main-content"> -->
    <section class="first-slide">
        <div class="description-container">
            <div class="description-block">
                <div class="description-header">
                    <h1>Turbo </h1>
                </div>
                <div class="description">
                    Новый игровой сайт, где вы можете общаться c другими пользователями и создавать новости
                </div>
            </div>
        </div>

        <div class="slide-image">
            <img src="/views/image/jpg/1.jpg" alt="">
        </div>
    </section>
    <div class="gradient">

    </div>
    <section class="main-information-container">
        <section class="main-information-block">
            <h1>TURBO - сайт о играх и не только</h1>
            <div class="project-description">
                <!-- <h1>TURBO - сайт о играх и не только</h1> -->
                <div class="main-image-container">
                    <img src="/views/image/jpg/main.jpg" alt="">
                </div>

                <div class="main-content">
                    <!-- <div class="text" style="max-width :90%;"> -->
                    <p>Я решил стать гуманистом.</p>
                    <p>Я буду любить людей. Во всех их проявлениях. </p>
                    Я буду переводить бабушек через дорогу - пусть они живут дольше и воспитывают своих внуков. Я
                    буду
                    помогать маленьким детям - они будущее этой планеты. Соседу помогу положить паркет, коллегу
                    прикрою
                    на работе. Родителей я буду навещать постоянно - пусть порадуются. Я буду делать подарки
                    родственникам и друзьям, утешать незнакомых людей, улыбаться прохожим. Я хочу, чтобы всем было
                    хорошо.
                    Я буду прививать свой образ жизни другим - я создам целое общество таких же как я. Буду
                    проповедовать любовь и терпимость. Всепрощение и мир во всём мире. Мы будем жертвовать своими
                    интересами во имя блага других людей. Создадим фонд, будем помогать безработным и бездомным,
                    давать
                    деньги на медицину, обучение. Мы привлечём меценатов, будем спонсировать детские дома, хосписы,
                    центры по борьбе с неизлечимыми болезнями. Мы будем примером - и люди станут добрее.
                    <!-- </div> -->
                </div>

            </div>



            <h1> Особенности проекта</h1>
            <div class="feature-project main-content">
                <!-- <h1> Особенности проекта</h1> -->
                <div class="feature-project-content">
                    <div class="side-image-container" style="background-color: black;">
                        <img src="/views/image/jpg/1.jpg" alt="">
                    </div>


                    <ul class="feature-list">
                        <li>Приятный интерфейс</li>
                        <li>Удобная система оценок</li>
                        <li>Поощерение авторских начинаний</li>
                        <li>Гибкий интерфейс</li>
                        <li>Как DTF только лучше</li>
                    </ul>
                </div>
            </div>

            <h1> <br> Наше предложение</h1>

            <div class="proposal main-content">
                <div class="feature-project-content">
                    <div class="side-text">
                        Я буду любить людей. Во всех их проявлениях.
                        Я буду переводить бабушек через дорогу - пусть они живут дольше и воспитывают своих внуков. Я
                        буду
                        помогать маленьким детям - они будущее этой планеты. Соседу помогу положить паркет, коллегу
                        прикрою
                        на работе. Родителей я буду навещать постоянно - пусть порадуются. Я буду делать подарки
                        родственникам и друзьям, утешать незнакомых людей, улыбаться прохожим
                    </div>

                    <div class="side-image-container" style="background-color: black;">
                        <img src="/views/image/jpg/1.jpg" alt="">
                    </div>
                </div>
            </div>


            <h1><br> Знакомство с интерфейсом</h1>

            <div class="slider-container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img src="/views/image/jpg/design.jpg" alt="">
                    </div>
                    <div class="slider">
                        <img src="/views/image/jpg/main.jpg" alt="">
                    </div>
                    <div class="slider">
                        <img src="/views/image/jpg/1.jpg" alt="">
                    </div>
                </div>

            </div>
            <div class="slider-nav">
                <li href="" class="slider-switcher" data-number ="1" ></li>
                <li href="" class="slider-switcher" data-number ="2" ></li>
                <li href="" class="slider-switcher" data-number ="3" ></li>
            </div>

            <div class="card-container">
                <div class="card" style="color: beige;">1</div>
                <div class="card" style="color: beige;">2</div>
                <div class="card" style="color: beige;">3</div>
            </div>
        </section>
    </section>

    <footer class="footer">
        <div class="footer-link">
            <li><a href="#">О проекте</a></li>
            <li><a href="#">О создателях</a></li>
            <li><a href="#">Реклама на сайте</a></li>
            <li><a href="#">Обратная связь</a></li>
        </div>

        <div class="footer-logo">
            <div class="main-footer-logo">
                <div class="footer-svg">
                    <img src="/views/image/vector/footer.svg" alt="">
                </div>
                <div class="main-footer-text">© 2022–2022 Turbo.ru</div>
            </div>
            <div class="adding-footer-text">
                Использование любых материалов сайта
                без согласования с администрацией запрещено
            </div>
        </div>
    </footer>

    <script src="/views/script/menu-bar.js"></script>
    <script src="/views/script/draggable-card.js"></script>
    <script src="/views/script/slider.js"></script>
    <!-- </div> -->
</body>

</html>