<div class="menu-bar">
    <ul class="menu-list">
        <li class="menu-element"> <a href="/news-list">Новости</a></li>
        <li class="menu-element"><a href="">Закладки</a></li>
        <li class="menu-element"><a href="">Популярное</a></li>
    </ul>
</div>