<div class="menu-bar">
    <ul class="menu-list">
        <li class="menu-element">Новости</li>
        <li class="menu-element">Закладки</li>
        <li class="menu-element">Популярное</li>
    </ul>
</div>