<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo</title>

    <!-- шрифт -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@100&display=swap"
        rel="stylesheet">

    <!-- стиль -->
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main-information.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/menu-bar.css">
    <!-- <link rel="stylesheet" href="./css/news.css"> -->
    <link rel="stylesheet" href="./css/redactor.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
</head>

<body>
    
    <%- include('./header.ejs') %>

    <div class="page-with-menu">
        
        <%- include('./menu-bar.ejs') %>

        <div class="page-content">

            <section class="main-information-container" style="background-color: aqua;">
                <div class="main-information-block">
                 <div class="redactor-block">
                    <img  id= "image" src="" alt="">
                    <textarea class = "content-unit title-area" name="" id="header-area" cols="1" rows="2" placeholder="Заголовок"></textarea>
                    <textarea class = "content-unit " name="" id="" cols="100" rows="10" placeholder="Написать"></textarea>
                </div>
                </div>
            </section>

            <%- include('./footer.ejs') %>
            
        </div>

        <button id="tmp-button" onclick="sendDraft()">Провер-очка</button>
        <button id="tmp-button" onclick="sendNews()">Отправить новость</button>
    </div>
    <%- include('./script.ejs') %>
    <script src="./script/paste.js"></script>
    <script src="./script/sendImage.js"></script>
</body>

</html>