<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo</title>

    <!-- шрифт -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@100&display=swap"
        rel="stylesheet">

    <!-- стиль -->
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main-information.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/menu-bar.css">
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    
    <%- include('./header.ejs') %>

    <div class="page-with-menu">
        
        <%- include('./menu-bar.ejs') %>

        <div class="page-content">

            <section class="main-information-container">
                <div class="main-information-block">
                    <form action="" class="enter-form">
                        <div class="form-name">
                            Регистрация
                        </div>

                        <div class="input-container">
                            <input id = "nickname-input" type="text" name="nickname" placeholder="Enter your nickname">
                            <input id = "email-input" type="text" name="email" placeholder="Enter your email">
                            <input id = "password-input" type="password" name="password" placeholder="Enter your password" class = "password-input">
                            <input id = "password-confirm-input" type="password" name="confirmPassword" placeholder="Confirm your password" class = "password-input">
                        </div>

                        <div class="manage-block">
                            <input id = "button-input" type="submit" value="Зарегистрироваться" />
                            <a href="/login" id="registration-link">Войти</a>
                        </div>

                    </form>
                </div>
            </section>

            <%- include('./footer.ejs') %>
        
        </div>
    </div>
    <script src="./script/menu-bar.js"></script>
    <script src="./script/draggable-card.js"></script>
    <script type="module" src ="./script/registration.js"></script>
    <!-- <script src="./script/slider.js"></script> -->
    <script type="module" src="./script/footer.js"></script>
</body>

</html>