<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo</title>

    <!-- шрифт -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@100&display=swap"
        rel="stylesheet">

    <!-- стиль -->
    <link rel="stylesheet" href="/views/css/header.css">
    <link rel="stylesheet" href="/views/css/main-information.css">
    <link rel="stylesheet" href="/views/css/footer.css">
    <link rel="stylesheet" href="/views/css/menu-bar.css">
    <link rel="stylesheet" href="/views/css/login.css">
</head>

<body>
    <header class='header-site'>
        <div class="logo-container">
            <div class="menu-logo">
                <img class="vector-img" src="/views/image/vector/menu.svg" alt="говно">
                <div class="logo-text" onclick="location.href = 'index.html'">Turbo</div>
            </div>
        </div>

        <nav class="nav-header">
            <button class="entry-button" onclick="location.href = 'login.html'">Войти</button>
        </nav>
    </header>

    <div class="page-with-menu">
        <div class="menu-bar">
            <ul class="menu-list">
                <li class="menu-element">Новости</li>
                <li class="menu-element">Закладки</li>
                <li class="menu-element">Популярное</li>
            </ul>
        </div>

        <div class="page-content">

            <section class="main-information-container">
                <div class="main-information-block">
                    <form action="" class="enter-form">
                        <div class="form-name">
                            Регистрация
                        </div>

                        <div class="input-container">
                            <input type="text" name="nickname" placeholder="Enter your nickname">
                            <input type="text" name="email" placeholder="Enter your email">
                            <input type="password" name="password" placeholder="Enter your password" class = "password-input">
                            <input type="password" name="confirmPassword" placeholder="Confirm your password" class = "password-input">
                        </div>

                        <div class="manage-block">
                            <input type="submit" value="Зарегистрироваться" />
                            <a href="/views/login.html" id="registration-link">Войти</a>
                        </div>

                    </form>
                </div>
            </section>

            <footer class="footer">
                <div class="footer-link">
                    <li><a href="#">О проекте</a></li>
                    <li><a href="#">О создателях</a></li>
                    <li><a href="#">Реклама на сайте</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </div>

                <div class="footer-logo">
                    <div class="main-footer-logo">
                        <div class="footer-svg">
                            <img src="/views/image/vector/footer.svg" alt="">
                        </div>
                        <div class="main-footer-text">© 2022–2022 Turbo.ru</div>
                    </div>
                    <div class="adding-footer-text">
                        Использование любых материалов сайта
                        без согласования с администрацией запрещено
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="/views/script/menu-bar.js"></script>
    <script src="/views/script/draggable-card.js"></script>
    <!-- <script src="/views/script/slider.js"></script> -->
    <script src="/views/script/footer.js"></script>
</body>

</html>