* {
    margin: 0px;
    padding: 0px;
    /* border: 0px; */
  }

:root{
    --main-color: #041E27;
    --font-color: #FFFFFF;
    --button-color: #FFFAFA;
    --button-hover-color : #f3e6e6;
    --coef : 1.15;
    --button-height: 45px
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

.menu-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-site{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: var(--main-color);
    z-index: 1;
     /* border-bottom: solid #FFFFFF; */
}

.menu-logo{
   margin-left: 50px; 
}

.nav-header{
    margin-right: 10%;
}

.logo-text{
    font-family: 'Inter', sans-serif;
    font-style: normal ;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    margin-left: 15px;
    cursor: pointer;
    /* background-color: aliceblue; */
}


.header-button{
    background-color: var(--button-color);
    height: var(--button-height);
    width: 135px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    /* текст */
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
}


.header-button:hover{
    background-color: var(--button-hover-color);
    cursor: pointer;
    box-shadow: 7px 6px 6px 1px ;
    transition: .7s;
}

.header-button:active{
    border: solid;
    border: var(--main-color);
}

.vector-img{
    height: 25px;
    width: 30px;
}


.vector-img:hover{
    scale: 1.1;
    cursor: pointer;
}

@media (max-width: 1200px){
    .logo-text{
        visibility: hidden;
        display: none;
    }
}

/* элементвы видимость которых зависит от авторизации пользователя */

.create-article-button{
    display: none;
}

.avatar-icon{
    border-radius: 100%;
    height: var(--button-height);
    width: var(--button-height);
    background-image: url(/image/jpg/1.jpg);
    background-size: cover;    
}

.avatar-icon:hover{
    border: 3px solid var(--button-color);
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header>*{
    margin-left: 30px;
}