:root {
    --main-color: #041E27;
    --font-color: #FFFFFF;
    --button-color: #FFFAFA;
    --coef: 1.15;
    --background-color: #EEE2E2;
}

body {
    font-size: 1.35rem;
    font-weight: 600;
}

.main-information-container {
    height: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 10%;
}

.main-information-block {
    max-width: 65%;
    background-color: #FFFAFA;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text{
    margin-left: 3%;
}


@media (max-width: 992px) {
    .main-information-block {
        max-width: 75%;
    }
}

@media (max-width: 767px) {
    .main-information-block {
        max-width: 80%
    }
}

.main-information-block p {
    padding-bottom: 1.4rem;
}

.main-information-block h1 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.main-image-container {
    width: 100%;
    margin-bottom: 2rem;
}

.main-image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.main-content {
    width: 95%;
    font-family: Tahoma;
    font-weight: 200;
    font-size: 1.2rem;
}

.feature-project-content {
    display: flex;
    /* width: 95%; */
    justify-content: space-between;
    align-items: center;
}


@media(max-width : 767px) {
    .feature-project-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.side-image-container {
    width: 350px;
    height: 350px;
    border-radius: 3%;
}

.side-image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3%;
    object-position: 0px -50px;
}

.feature-list {
    margin-right: 10%;
}

li {
    list-style-image: url(/views/image/vector/li.svg);
    font-size: 1.35rem;
    margin: 20px;
}



.side-text {
    max-width: 40%;
}

@media(max-width : 767px) {
    .side-text {
        max-width: 95%;
        margin-bottom: 1rem;
    }
}


@media(max-width : 400px) {
    .side-image-container {
        max-width: 95%;
        max-height: 350px;
        border-radius: 3%;
    }
}

