:root {
    --main-color: #041E27;
    --font-color: #FFFFFF;
    --button-color: #FFFAFA;
    --coef: 1.15;
    --footer-color: #D9D9D9;
    --button-hover-color : #f3e6e6;
}

.menu-bar{
    height: 100vh;
    top:70px;
    width: 260px;
    left: -260px;
    position: fixed;
    background-color: var(--main-color);
    /* transition: left .3s; */
    /* border-right: solid; */
    /* border-top:solid ; */
    /* border-color: var(--font-color); */
    display: flex;
    justify-content: center;
    z-index: 8;
}

.menu-list{
    /* color: var(--main-color); */
    margin-top: 5%;
    font-family: 'Tahoma';
    font-weight: 520;
}

.menu-list>li{
    list-style-image: none;
    list-style-type: none;
}

.menu-list>li:hover{
    color: var(--button-hover-color);
    scale: 1.02;
    cursor: pointer;
}

.page-with-menu{
    width: 100%;
    left: 0;
}

.menu-selected{
    width: calc(100% - 260px);
    position: relative;
    left: 260px;
    /* transition: all .3s; */
}





@media(max-width: 576px){
    .menu-selected{
        width: 100%;
        left: 0;
    }
}


.menu-element > a {
    text-decoration: none;
    color : white
}