.author-block-wrapper{
    display: flex;
    justify-content: start;
    width: 100%;
}

/* .text-container{
    width: 95%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #383b3c;
    text-align: left;
    padding-top: 1.1rem;
    
} */

.text-container {

    width: 95%;
    color: #22252d;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 1.5em;
    font-weight: 300;
}
