:root{
    --font-news-color : #22252d;
}

.author-block-wrapper{
    display: flex;
    width: 90%;
    font-weight: 300;
    font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif;
    font-size: 1rem;
    color: var(--font-news-color-color);
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.news-date{
    font-weight: 300;
    /* font-family: 'Roboto', sans-serif; */
    font-size: .8rem;
    color: var(--font-news-color-color);
    /* padding-top: 20px; */
    justify-content: space-between;
    align-items: center;
}

.author-wrapper{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10%; */
}

.author-logo{
    background-color:brown;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}


pre{
    display: inline;
}

/* Комментариии */

.comment-container{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 3%;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.comment-form{
    width: 90%;
    justify-content: center;

	border: 2px solid #016BA8;
	background: white;
	border-radius: 5px 5px 5px 5px;
	transition: all 0.5s;

}

textarea.comment-textarea{
    border: none;
    outline: none;
    resize: none;
}

.width-100{
    width: 100%;
}

.comment-textarea-wrapper{
    display: flex;
    justify-content: center;
}

.comment-text-container{
    width: 95%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    /* line-height: 1.5; */
    color: #212529;
    text-align: left;
    padding-top: 1.2rem;
    word-break: break-all;
    margin-bottom: rem;
    resize: none;
}

.button-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}

.comment-btn{

    margin-bottom: 5px;
    margin-right: 5px;
    width: 150px;
    height: 40px;
    background-color: #3c35c8;
    border: 0;
    border-radius: 7px;

}

.btn-text{
     /* шрифт */
     color: var(--button-color);
     font-size: .9rem;
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: 600;
     cursor: pointer;
     transition: .7s;
}


.comment-btn:hover{


    background-color: #1694e9;  
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.25);

}