/* .redactor-block{
    min-height: 100vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px, 10px, 1px 10px,;

    display: flex;
    flex-direction: column;
    align-items: center;
} */

.main-information-block {
    max-width: 65%;
    min-width: 65%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

textarea{
    width: 100%;
    margin-bottom: 30px;
}

#header-area{
    margin-top: 30px;
}

.main-image-container {
    max-width: 600px;
    max-height: 400px;
    margin-bottom: 2rem;
    /* display: flex; */
    /* justify-content: center; */
}


/* textarea */
textarea{
    border: 0;
    outline: none;
    resize: none;
	/* -moz-appearance: none; */
}

.textarea-wrapper{
    width: 90%;
    height: auto;
    
}

.send-button{
    width: 170;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;

    /* текст */
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
}