:root{

    --list-color :  #80bbe3;;
}

.slider-container {
    width: 640px;
    height: 360px;
    overflow: hidden;
}


@media (max-width: 992px) {
    .slider-container {
        width: 540px;
        height: 320px;
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .slider-container {
        width: 440px;
        height: 250px;
        overflow: hidden;
    }
}

@media (max-width: 500px) {
    .slider-container {
        width: 380px;
        height: 250px;
        overflow: hidden;
    }
}

@media (max-width: 380px) {
    .slider-container {
        width: 280px;
        height: 250px;
        overflow: hidden;
    }
}

.slider-wrapper{
    display: flex;
    height: inherit;
    width: calc(100% * 3);
    position: relative;
    transition: .5s linear;
    left: 0;
    z-index: 0;
}

.slider {
    background-size: cover;
    height: inherit;
    width: calc(100% / 3);
    display: flex;
    
}

.slider>img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 1%;
}



button{
    background-color: yellow;
}

.slider-nav{
    display: flex;
}

.slider-nav>li{
    list-style-image: none;
    list-style-type: none;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    border: 4px solid;  
    border-color: var(--list-color);
}

.slider-nav>li:hover{
    scale: 1.2;
}

.selected-switcher{
    scale: 1.2;
    background-color: var(--list-color);
}

